@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto Flex";
    src: url("../assets/fonts/RobotoFlex/RobotoFlex.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Alba";
    src: url("../assets/fonts/Alba/ALBA.TTF");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Roboto Flex", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.secondary-color {
    background-color: #2a303c;
}

.primary-color {
    background-color: #2a303c;
}

.tertiary-color {
    background-color: #2c3639;
}

.fourth-color {
    background-color: #656399;
}

.button-color-one {
    background-color: #656399;
}

.button-color-hover {
    background-color: #c75672;
}

.border-color-p {
    border-color: #a5c9ca;
}

.border-color-s {
    border-color: #656399;
}

.text-color-p {
    color: #656399;
}
.text-color-s {
    color: white;
}

.text-color-t {
    color: #9e9aee;
}

.text-color-g {
    color: #c8c8c8;
}

.disabled-color {
    color: #e7f6f2;
}

#commentForm {
    background-color: 2c3333;
}

::-webkit-scrollbar {
    width: 10px;
}

.posttext {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 100;
}

.title {
    font-family: "Alba", sans-serif;
    font-weight: 100;
}

.comment-content {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 200;
}

.content {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 1000;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}
