@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FiraCode";
    src: url("../assets/fonts/RobotoFlex/RobotoFlex.ttf");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Roboto Flex", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.secondary-color {
    background-color: #2a303c;
}

.primary-color {
    background-color: #2a303c;
}

.tertiary-color {
    background-color: #2c3639;
}

.border-color-p {
    border-color: #a5c9ca;
}

.border-color-s {
    border-color: #656399;
}

.text-color-p {
    color: #656399;
}
.text-color-s {
    color: white;
}

.text-color-t {
    color: #9e9aee;
}

.disabled-color {
    color: #e7f6f2;
}

#commentForm {
    background-color: 2c3333;
}

::-webkit-scrollbar {
    width: 10px;
}

.posttext {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 100;
}
